{% extends 'header.html' %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block body %} 
<h1>Departments</h1>
<nav>
    <a href = "department/Human-Resources">Human Resources</a>
    <a href = "department/Engineering Documents">Engineering Documents</a>
    <a href = "department/Marketing">Marketing</a>
    <a href = "department/Accounting">Accounting</a>
    <a href = "department/Software Development Documents">Software Development Documents</a>
    <a href = "department/Full Stack Development">Full Stack Development</a>
    <a href = "department/Information Technology">Information Technology</a>
    <a href = "department/IT Helpdesk">IT Helpdesk</a>
    <a href = "department/Management">Management</a>
</nav>
<div>
    hello world
</div>
{% endblock %}