{% extends 'header.html' %}
{% block head %}
<title>login</title>
{% endblock%}

{% block body %}
<form action = "/register" method = 'POST'>
    <fieldset>
        <legend>Register a new Account</legend>
        {% if message %}
        <p class = "error">{{message}}</p>
        {% endif%}
        <p>
            <label for="username">username:</label>
            <input type="text" id="username" name="username">
        </p>
        <!-- TODO: change to password field when finished -->
        <p>
            <label for="password">password:</label>
            <input type="password" id="password" name="password">
        </p>
        <p>
            <label for="confirm-password">confirm password:</label>
            <input type="password" id="confirm-password" name="confirm-password">
        </p>
        <p>
            <input type="submit" id="register1" name = "register1" value = "Register">
        </p>
        <p>
            <input type="submit" id = "strong-password" name = "strong-password" value="Generate Strong Password">
        </p>
        {% if strong_password %}
        <p>{{strong_password}}</p>
        {%endif%}
    </fieldset>
</form>

{% endblock %}