{% extends 'header.html' %}
{% block head %}
<title>login</title>
{% endblock%}

{% block body %}
<form action = "/" method = 'POST'>
    <fieldset>
        <legend>Login:</legend>
        <p>
            <label for="username">username:</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">password:</label>
            <input type="text" id="password" name="password">
        </p>
        <p>
            <label for="confirm-password">password:</label>
            <input type="text" id="confirm-password" name="confirm-password">
        </p>
        <p>
            <input type="submit" id="register" name = "register" value = "Register">
        </p>
    </fieldset>
</form>

{% endblock %}